<a href="https://colab.research.google.com/github/andaleeb028/Andaleeb-Tarannum/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import json
class Employee:
    def __init__(self):
        self.emp_dic={}
    def creat_JSON(self):
        for i in range(5):
            name = input("Enter your name: ")
            dob = input('Enter your DOB: ')
            height = input('Enter your height: ')
            city = input('Enter your city: ')
            state = input('Enter your state: ')
            emp={'name':name,'dob':dob,'height':height,'city':city,'state':state}
            emp_id = len(self.emp_dic)+1
            self.emp_dic[emp_id]=emp
        with open("emps.json",'w') as f:
            json.dump(self.emp_dic,f)

    def data_print(self):
        with open("emps.json","r") as f:
            data = json.load(f)
        for i in data.values():
            l1 = []
            l1.append(i)
            print(l1)   

x =Employee()            
x.creat_JSON()
print("--------------------------------------------------")
x.data_print()

Enter your name: andaleeb
Enter your DOB: 02-08-1997
Enter your height: 23
Enter your city: bnle
Enter your state: set
Enter your name: aaa
Enter your DOB: 23-2-1998
Enter your height: 23
Enter your city: 44
Enter your state: we
Enter your name: aaa
Enter your DOB: 02323
Enter your height: 32
Enter your city: sara
Enter your state: ser
Enter your name: fgfdg
Enter your DOB: 43543
Enter your height: 432
Enter your city: 54
Enter your state: isss
Enter your name: andlww
Enter your DOB: 3012904
Enter your height: 213
Enter your city: 123
Enter your state: 44
--------------------------------------------------
[{'name': 'andaleeb', 'dob': '02-08-1997', 'height': '23', 'city': 'bnle', 'state': 'set'}]
[{'name': 'aaa', 'dob': '23-2-1998', 'height': '23', 'city': '44', 'state': 'we'}]
[{'name': 'aaa', 'dob': '02323', 'height': '32', 'city': 'sara', 'state': 'ser'}]
[{'name': 'fgfdg', 'dob': '43543', 'height': '432', 'city': '54', 'state': 'isss'}]
[{'name': 'andlww', 'dob': '3012904', 'height': '213', 'city': '123', 'state': '44'}]

In [5]:
import json 
states ={"karnatak":"Banglore",
                 "maharastra":"Mumbai",
                 "Up":"Lucknow",
                "Tamilnadu":"Chennai",
                "West bengal":"Kolkatta",
                "Jharkhand":"Ranchi",
           "Bihar":"Patna"} 

json_object = json.dumps(states, indent = 8) 
print(json_object)

{
        "karnatak": "Banglore",
        "maharastra": "Mumbai",
        "Up": "Lucknow",
        "Tamilnadu": "Chennai",
        "West bengal": "Kolkatta",
        "Jharkhand": "Ranchi",
        "Bihar": "Patna"
}

In [3]:
{"1": {"name": "Andaleeb", "dob": "23-11-1998", "height": "5.1", "city": "Kota", "state": "Rajasthan"},
 "2": {"name": "Aanu", "dob": "12-7-1992", "height": "5.2", "city": "Jaipur", "state": "Rajasthan"}, 
 "3": {"name": "Sonu", "dob": "19-11-1995", "height": "4.9", "city": "Jodhpur", "state": "Rajasthan"}, 
 "4": {"name": "Hrishika", "dob": "23-1-1997", "height": "4.8", "city": "Ajmer", "state": "Rajasthan"}, 
 "5": {"name": "Daksh", "dob": "29-10-1998", "height": "4.9", "city": "Udaipur", "state": "Rajasthan"}
}

{'1': {'name': 'Andaleeb',
  'dob': '23-11-1998',
  'height': '5.1',
  'city': 'Kota',
  'state': 'Rajasthan'},
 '2': {'name': 'Aanu',
  'dob': '12-7-1992',
  'height': '5.2',
  'city': 'Jaipur',
  'state': 'Rajasthan'},
 '3': {'name': 'Sonu',
  'dob': '19-11-1995',
  'height': '4.9',
  'city': 'Jodhpur',
  'state': 'Rajasthan'},
 '4': {'name': 'Hrishika',
  'dob': '23-1-1997',
  'height': '4.8',
  'city': 'Ajmer',
  'state': 'Rajasthan'},
 '5': {'name': 'Daksh',
  'dob': '29-10-1998',
  'height': '4.9',
  'city': 'Udaipur',
  'state': 'Rajasthan'}}

In [1]:
class Dog:
    def __init__(self,name,age,coat_color):
        self.name = name
        self.age = age
        self.coat_color = coat_color
    def description(self):
        print('Dog name is: ',self.name)
        print('Age of ',self.name,' is: ', self.age)    
    def get_info(self):
        print('Coat color of ',self.name,' is: ',self.coat_color)

class JackRussellTerrier(Dog):
    def health(self):
        print('The breed has a reputation for being healthy.')
        print('Jack Russells can live from 13 to 16 years.')
    def Crossbreeds(self):
        print('Crossbreed of a Jack Russell terrier and a Beagle is called a Jackabee.')    
class Bulldog(Dog):
    def health(self):
        print('The average life span of the breed as 8 to 10 years.')
        print('Allergies and hip issues in older Bulldogs')
    def Appearance(self):
        print('Thick folds of skin on the brow, round, black, wide set eyes.')
        print('A rope or nose roll above the nose.')

dog = Bulldog('Jaky',5,'Black')
dog.description()
dog.get_info()        
dog.health()
dog.Appearance()

dog1 = JackRussellTerrier('Harry',4,'Brown')
dog1.description()
dog1.get_info()
dog1.health()
dog1.Crossbreeds()

Dog name is:  Jaky
Age of  Jaky  is:  5
Coat color of  Jaky  is:  Black
The average life span of the breed as 8 to 10 years.
Allergies and hip issues in older Bulldogs
Thick folds of skin on the brow, round, black, wide set eyes.
A rope or nose roll above the nose.
Dog name is:  Harry
Age of  Harry  is:  4
Coat color of  Harry  is:  Brown
The breed has a reputation for being healthy.
Jack Russells can live from 13 to 16 years.
Crossbreed of a Jack Russell terrier and a Beagle is called a Jackabee.