<a href="https://colab.research.google.com/github/andaleeb028/Andaleeb-Tarannum/blob/main/SQLAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3
conn = sqlite3.connect('test.db')

In [6]:
conn.execute('''
CREATE TABLE IF NOT EXISTS COUNTRIES(  
  COUNTRY_id VARCHAR(2),  
  COUNTRY_name VARCHAR(40)  
  CHECK(COUNTRY_name IN('Italy','China','India')),   
  REGION_id DECIMAL(10,0));
''')
conn.commit()
print("Country table created")

Country table created