<a href="https://colab.research.google.com/github/andaleeb028/Andaleeb-Tarannum/blob/main/SQLAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import sqlite3
conn = sqlite3.connect('test.db')

In [ ]:
conn.execute('''
CREATE TABLE IF NOT EXISTS COUNTRIES(  
  COUNTRY_id VARCHAR(2),  
  COUNTRY_name VARCHAR(40)  
  CHECK(COUNTRY_name IN('Italy','China','India')),   
  REGION_id DECIMAL(10,0));
''')
conn.commit()
print("Country table created")

Country table created

In [10]:
conn.execute('''
CREATE TABLE IF NOT EXISTS COUNTRIES(  
  COUNTRY_id VARCHAR(2) NOT NULL UNIQUE PRIMARY KEY,
  COUNTRY_name VARCHAR(40) NOT NULL);
''')
conn.commit()
print("Countries table created")

Countries table created

In [9]:
conn.execute('''
CREATE TABLE IF NOT EXISTS COUNTRY_new
AS SELECT * FROM COUNTRIES;
''')
conn.commit()
print("Country_New table created")

Country_New table created

In [11]:
conn.execute('''
SELECT * FROM COUNTRY_new;
''')
conn.commit()
print("Viewing")

Viewing

In [16]:
conn.execute('''
INSERT INTO COUNTRY_new (COUNTRY_id, COUNTRY_name)
VALUES ('02', 'India');
''')
conn.execute('''
INSERT INTO COUNTRY_new (COUNTRY_id, COUNTRY_name)
VALUES ('01', 'China');
''')
conn.execute('''
INSERT INTO COUNTRY_new (COUNTRY_id, COUNTRY_name)
VALUES ('03', 'Italy');
''')
conn.commit()

In [17]:
conn = sqlite3.connect('test.db')
cursor = conn.execute('''
SELECT * FROM COUNTRY_new;
''')
for row in cursor:
  print(row)

('02', 'India')
('02', 'India')
('01', 'Chine')
('03', 'Italy')